* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: none;
    font-weight: normal;
    scroll-behavior: smooth;
    text-decoration: none;
}


nav {
    font-size: 1.1rem;
    width: 100%;
    height: 70px;
    background:#0a0404fc;
    z-index: 1;


}

.menu-nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menu-nav ul li.btn {
    list-style-type: none;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.menu-nav ul li.btn a {
    color: #FAF5E9;
    text-decoration: none;
}

.menu-nav ul li.btn:hover a {
    color: #FFCC00;
    transition: 0.3s all;
}

body,
html {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0a0404fc;
    color: #FAF5E9;
}

main {
    overflow: auto;
    height: 90vh
}

div.imgdp {
    background-image:linear-gradient(180deg,  #0a0404fc 0%, rgba(255, 255, 255, 0) 60%),linear-gradient(0deg,  #0a0404fc 0%, rgba(255, 255, 255, 0) 60%), url('/imagedusite/C.A.jpg');
    width: 100%;
    height: 50em;
    background-size: cover;
    padding:1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.imgdp h1 {
    margin-top: 180px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .4);
    display: block;
    margin-left: 40px;
    text-align: left;
    color: #FFCC00;

}

div.imgdp p {
    margin-left: 40px;
    margin-top: 60px;
    text-shadow: 0 0 4px rgba(0, 0, 0, .4);
    display: block;
    margin-bottom: 3.125rem;
    letter-spacing: -.03em;
    font-size: 1.25rem;
    text-align: left;

}
.Paragraphe div.bloc1 div.part1{
    justify-content: space-between;
    margin-top:40vh;
    padding-bottom: 20vh;
}
.Paragraphe div.bloc1 div.part2{
    justify-content: space-between;
    margin-top:30vh;
}
.Paragraphe div.bloc1 div.part3{
    justify-content: space-between;
    padding-bottom: 20vh;
    margin-top:120vh;
}

.Paragraphe div.bloc1 div.part1 div.txt{
    width:50%;
    margin-top: 75px;
    margin-right: 75px;
    float:right;
    text-align: left;

    
    
}
.Paragraphe div.bloc1 div.part1 p {
    margin-top: 25px;
    display: flex;
    height: 50vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    flex-direction: column;
    clear: both; 
    
    
}
.Paragraphe div.bloc1 div.part1 h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    flex-direction: column;
    color:#FFCC00 ;
    
    
    
}
.Paragraphe div.bloc1 div.part2 div.txt{
    width:50%;
    margin-left: 40px;
    float:left;
    text-align: left;
    

    
    
}
.Paragraphe div.bloc1 div.part2 p {
    margin-top: 25px;
    display: flex;
    height: 50vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    flex-direction: column;
    clear: both; 
    
    
}
.Paragraphe div.bloc1 div.part2 div.txt p a {
    width: 9.5%;
    text-align: left;
    border-radius: 25px;
    border-width: 2px;
    border-style: dashed;
    border-color: #FFCC00;
    color: #FFCC00;
    text-decoration: none;
    margin-top: 0px;
    padding:2px;
    padding-left:4px;
    padding-right:3px ;
    transition:0.6s all;
    
}
.Paragraphe div.bloc1 div.part2 div.txt p a:hover {
   background-color: #FFCC00;
   color: black;
   transition:0.6s all;
    
}
.Paragraphe div.bloc1 div.part2 h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    flex-direction: column;
    color: #FFCC00;
    
    
    
}

.Paragraphe div.bloc1 div.part3 div.txt{
    width:50%;
    margin-right: 75px;
    float:right;
    margin-top: 75px;


    
    
}
.Paragraphe div.bloc1 div.part3 p {
    margin-top: 25px;
    display: flex;
    height: 50vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    flex-direction: column;
    clear: both; 
    
    
}
.Paragraphe div.bloc1 div.part3 h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    flex-direction: column;
    color: #FFCC00;
    
    
    
}
.Paragraphe div.bloc1 div.part1 img {
    font-family: Arial, sans-serif;
    width: 40%;
    margin-left:20px;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
}
.Paragraphe div.bloc1 div.part2 img {
    font-family: Arial, sans-serif;
    width: 40%;
    margin-right: 20px;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
    float: right;
}
.Paragraphe div.bloc1 div.part3 img {
    font-family: Arial, sans-serif;
    width: 40%;
    margin-left:20px;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
}

div.redirection {
    padding-top:500px;
    display: flex;
    justify-content: center;
    margin: 0 auto; 
   
}


div.redirection a{
    pointer-events: none;
    padding-bottom: 50vh;

    
}
div.redirection figure.muscu,
div.redirection figure.quotidien {
    display: flex;
    flex-direction: column; /* Pour empiler l'image et le texte */
    align-items: center; /* Pour centrer les éléments horizontalement */
    justify-content: center;
    text-align: center; /* Pour centrer le texte horizontalement */
    position: relative; /* Permet de positionner le texte par rapport à l'image */
}
div.redirection a.muscu img,
div.redirection a.quotidien img{
    pointer-events: auto; 
    border-radius: 25px;
    padding: 1px;
    width:50%;
    transition: transform 0.3s ease;
    
}
div.redirection a.muscu figcaption,
div.redirection a.quotidien figcaption {
    pointer-events: auto; 
    margin-top: 10px; /* Pour ajouter un peu d'espace entre l'image et le texte */
    color: #FFCC00; /* Couleur du texte */
    font-size: 16px; /* Taille du texte */
    position: absolute; /* Positionnement absolu par rapport au conteneur */
    top: -6%; /* Alignement au centre vertical */
    left: 50%; /* Alignement au centre horizontal */
    transform: translate(-50%, -50%); 
    text-align: center;
}





div.redirection a img:hover {
    transform: scale(1.1);
    transition:0.6s all;
    box-shadow: 6px 6px 6px #FFCC00;
    background: linear-gradient(90deg, rgba(34, 34, 34, 0.688) 0%, rgba(255, 255, 255, 0) 100%);
    background-size: contain;
    color:rgb(255, 255, 255);
}
div.video{
    text-align:center;
    padding-bottom: 50vh;
    color: #FFCC00;
    
}
div.video h2{
    margin-bottom: 40px;
    
    
}
div.video iframe{
    border-radius: 35px;
    transition:0.6s all;
}
div.video iframe:hover{
    transform: scale(1.1);
    transition:0.6s all;
    box-shadow: 6px 6px 6px #FFCC00;
}
/* Définissez les styles pour afficher l'icône de messagerie */
#mail{
    position:relative;
    margin-left: 40px;
}
#mail h2 {
    transition:0.6s all;
    margin-top: 0;
    color:#FFCC00;
    margin-bottom: 20px;
    
}
#mail h3 a{
    transition:0.6s all;
    margin-bottom: 0;
    text-decoration: none;
    color:rgb(255, 255, 255);
    
}
#mail ion-icon {
    transition:0.6s all;
    position: absolute;
    top:11.55%;
    left:2.0%;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
    
}
#mail ion-icon:hover {
    transition:0.6s all;
    background-color: #FFCC00;
    border-radius: 2px;
    
}

#mail h3 a:hover {
    transition:0.6s all;
    color: #FFCC00;
    
    
}
/*:mailto ou ::mailto*/